h2 {
    margin-bottom: 2rem;
}

.page-container {
    margin-top: 10rem;
    margin-left: 15%;
}

.about {
    margin: 1rem;
}

.aboutIcon {
    margin: 1rem;
}

.aboutText {
    margin: 1rem;
}

.contact-container {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.thanks {
    display: block;
    margin-left: 45%;
    margin-top: 10%;
}

.form-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
}

.icon-container {
    margin: 1rem;
}

 @media (max-width: 768px) {

    .page-container {
        margin: 2rem;
    }

    .contact-container {
        margin: 0;
    }

    .thanks {
        margin-left: 35%;
    
    }

 }