:root {
  --vivid-auburn: rgb(145,31,31);
  --brown-chocolate: rgb(77,14,51);
  --yankees-blue: rgb(39,37,66);
  --old-lace: rgb(249,246,232);
  --columbia-blue: rgb(183,232,213);
  --pearl-aqua: rgb(130,200,193);
}

@keyframes neon-box-shadow {
	0% {box-shadow:
        -1px -1px 0 var(--columbia-blue),
        1px -1px 0 var(--columbia-blue),
        -1px 1px 0 var(--columbia-blue),
        1px 1px 0 var(--columbia-blue),
        0 0 15px var(--pearl-aqua);}
	50% {box-shadow:
        -1px -1px 0 var(--columbia-blue),
        1px -1px 0 var(--columbia-blue),
        -1px 1px 0 var(--columbia-blue),
        1px 1px 0 var(--columbia-blue),
        0 0 55px var(--pearl-aqua);}
	100% {box-shadow:
        -1px -1px 0 var(--columbia-blue),
        1px -1px 0 var(--columbia-blue),
        -1px 1px 0 var(--columbia-blue),
        1px 1px 0 var(--columbia-blue),
        0 0 15px var(--pearl-aqua);}
}

.gradient-text {
    background-color: var(--vivid-auburn);
    background-image: linear-gradient(var(--vivid-auburn), var(--brown-chocolate), var(--yankees-blue));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    /* animation: neon-text-shadow 3s ease-in-out infinite; */
}

h2 {
    margin-bottom: 2rem;
}

.page-container {
    margin-top: 10rem;
    margin-left: 15%;
}

.about {
    margin: 1rem;
}

.aboutIcon {
    margin: 1rem;
}

.aboutText {
    margin: 1rem;
    color: var(--brown-chocolate);
    font-size: larger;
}

.contact-btn {
    background-color: var(--pearl-aqua);
    color: var(--yankees-blue);
}

.contact-container {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.dark-txt {
    color: var(--brown-chocolate);
}

.download-btn {
    background-color: var(--yankees-blue);
    color: var(--pearl-aqua);
}

.download-btn:hover {
    background-color: var(--vivid-auburn);
    color: var(--old-lace);
}

.thanks {
    display: block;
    margin-left: 45%;
    margin-top: 10%;
}

.form-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
    background-image: linear-gradient(var(--pearl-aqua), var(--columbia-blue), var(--old-lace), var(--yankees-blue), var(--brown-chocolate), var(--vivid-auburn));
    animation: neon-box-shadow 3s ease-in-out infinite;
}

#contact-title {
    color: var(--vivid-auburn);
}

.icon-container {
    margin: 1rem;
}

.profile-pic {
    border-radius: 50%;
    margin: 2rem;
    margin-left: 5rem;
}

.navbar-toggler {
    color: var(--vivid-auburn);
}

.navbar-toggler.collapsed {
    color: var(--vivid-auburn);
}



 @media (max-width: 768px) {

    .page-container {
        margin: 2rem;
    }

    .contact-container {
        margin: 0;
    }

    .thanks {
        margin-left: 35%;
    }

 }