h2 {
    margin-bottom: 2rem;
}

.page-container {
    margin: 10rem;
}

.contact-container {
    margin: 5rem;
    display: flex;
    justify-content: center;
}

.form-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    padding: 3rem;
    text-align: center;
}

.icon-container {
    margin: 1rem;
}