.footer{
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-container {
  margin-bottom: 5rem;
}

.nav-ham {
    display: none;
}

@media (max-width: 768px) {

  .nav-ham {
    display: block;
    margin: 0;
    padding: 0;
    color: white;
  }

  .nav-items {
    display: none;
  }

}